{% extends "layout.twig" %}
{% block title %}Login Page{% endblock %}
{% block body %}
<p>This application allows a system manager to maintain the user database. The different functions of the application are linked above described below.</p>
    <ul class="w3-ul w3-small">
        <li>
            <span>Departments: </span><span>This function allows you to add the different departments your employees can be assigned to.</span>
        </li>
        <li>
            <span>Roles: </span><span>This function allows you to create the different role each employee can be assigned to in the department.</span>
        </li>
        <li>
            <span>Users: </span><span>This function allows you to create and maintain the actual users you wish to have access to the system.</span>
        </li>
    </ul>
{% endblock %}