{% extends "layout.twig" %}
{% block title %}Unknown Error{% endblock %}
{% block body %}
    <h1>Error 0: Unknown Error</h1>
    <p>Please email this error to: tlmarker1968@gmail.com</p>
{% endblock %}